[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Falcon Game Engine
Comment=The Falcon Game Engine
Exec=falcon
Icon=falcon
Terminal=false
Categories=Game;
